@model IEnumerable<EntrecineWebApp.Models.Pelicula>
@{
    ViewBag.Title = "Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Ahora mismo en Entrecine...</h2>
            </hgroup>
            <div id="movieFeatured">
               @foreach (var item in Model) {
                <div class="movie25"><img src="@Url.Content("~/Images/Caratulas/caratula_"+item.Id+".jpg")"/></div>
                   
               }
            </div>
        </div>
    </section>
}
<h3>¡Compra tus entradas en dos sencillos pasos!</h3>
<ol class="round">
    <li class="one">
        <h5>Date de alta como socio</h5>
        Date de alta como socio de entrecine ahora mismo para empezar a disfrutar de las mejores peliculas de estreno!!
    </li>

    <li class="two">
        <h5>Reserva tu butaca</h5>
        Ingresa como socio del entrecine para reservar tu butaca online y venir a vernos solo para la pelicula!!
    </li>
</ol>